$violet-400: #5465ff;
$violet-300: #788bff;
$violet-200: #9bb1ff;
$violet-100: #bfd7ff;

$extra-light: #e2fdff;

$bgColor: #f3f3f3;

$accent: black;
$accent-300: #222;
$accent-200: #333;

$textColor: #252129;
$lightTextColor: #f3f3f3;

$buttonBorderRadius: 5px;

$sectionPadding: 50px;
